{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Produkty |{% endblock %}

{% block content %}
{% if object_list %}

<div class="container">
    <div class="jumbotron">
        <div class="shadow p-3 mb-5 bg-white rounded">
        <h2><strong>Nasze produkty:</strong></h2>
        </div>
    <div class="card-deck">
    {% for category in object_list %}
    <div class="card border-success mb-3">
        <div class="card-body text-center">
          <h5 class="card-title"><strong>{{ category.name }}</strong></h5>
          <hr>
          <img class="card-img-bottom" src="{{ MEDIA_URL }}{{ category.picture }}" style="max-height: 200px; max-width: 200px;">
          <p class="text-muted" ><font size="1">Fotografia ma charakter wyłącznie poglądowy.</font></p>
        </div>
        <div class="card-footer">
            <a href="{% url 'product_list' category.slug %}" class="btn btn-success" role="button">Zobacz</a>
        </div>
        
    </div>
    {% endfor %}
  </div>
  </div>
</div>
{% endif %}
{% endblock %}  
  


     
